@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --penguin-face: white;
  --penguin-picorna: orange;
  --penguin-skin: gray;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  padding: 1rem;
}

nav {
  display: flex;
  justify-content: space-between;
}

#nav-link {
  display: flex;
  gap: 5vw;
}

#nav-link li:hover {
  text-decoration: underline;
}