@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --penguin-face: white;
  --penguin-picorna: orange;
  --penguin-skin: gray;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  padding: 1rem;
}

nav {
  display: flex;
  justify-content: space-between;
}

#nav-link {
  display: flex;
  gap: 5vw;
}

#nav-link li:hover {
  text-decoration: underline;
}

.glass{
  background: rgba( 255, 255, 255, 1 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 20px );
-webkit-backdrop-filter: blur( 20px );
border-radius: 10px;
}